@model sabashop.Models.VmModels.Vm_Category



<form action="/admin/Category/AddGfather" method="post" enctype="multipart/form-data">


<label for="Title" class="btn btn-default">انتخاب نام اصلی</label>
<input type="text" asp-for="Name">


<button type="submit">send</button>


</form>


